.component__menu-title {
    color: white;
}

.component__menu-title h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.component__menu-title hr {
    margin-top: 20px;
    margin-bottom: 5px;
}