.container__big-card {

   margin-left: 25px;
   margin-right: 25px;
   width: 300px;
   height: 400px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start; 
}
.big-card__title > h1{
    margin-top: 15px;
    font-size: 30px;
    margin-left: 0; 
    text-align: left; /
}

.big-card__description{
    margin-top: 10px;

}
.big-card__description > p > a{
    color: #666565;
    text-align: left;
    display: block;
}

.big-card__image > img{
    width: 100%;
    height: 200px;
    border-radius: 1px;
    display: block;
    margin-left: 0; 
}