*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(14, 13, 13);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
